body, html {
    height: 100%;
    font-family: Comfortaa, Arial, sans-serif
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #00a8db;
}

h1 {
    margin: 100px 0 50px 0;
    text-align: center;
}

.btn {
    width: 100%;
}

/* 
##############
#    BODY    #
##############
*/

/*
################
#    HEADER    #
################ 
*/
/* NAVBAR */
.navbar {
    background-color: #999;
    font-size: 20px;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid #fff;
}

.navbar .nav-link {
    text-align: center;
    margin: 0;
}

.nav-tabs .nav-link.active {
    color: #00a8db !important;
}

.navbar li a {
    color: white !important;
}

.navbar li {
    padding: 0 30px 0 30px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #00a8db !important;
    background-color: white !important;
}

.navbar .navbar-toggler {
    border-style: none;
}

.navbar .navbar-toggler .fas {
    color: white;
    font-size: 24px;
}


/* 
###############
#    INDEX    #
###############

#############################
#    FORMULAIRE CONNEXION   #
#############################
*/
form {
    width: 30%;
    margin: 75px auto 0;
    padding-top: 75px;
    padding-bottom: 100px;
}

form input {
    margin-bottom: 40px;
}

form #connexion {
    margin: auto;
    display: block;
    width: 40%;
}


/* 
####################
#    MESSAGERIE    #
####################
*/



/* 
####################
#    FOOTER    #
####################
*/
footer {
    color: #000;
}
