body, html {
    height: 100%;
    font-family: Comfortaa, Arial, sans-serif
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #00a8db;
}

/* 
##############
#    BODY    #
##############
*/

/*
################
#    HEADER    #
################ 
*/
/* NAVBAR */
.navbar {
    background-color: #999;
    font-size: 20px;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid #fff;
}

.navbar .nav-link {
    text-align: center;
    margin: 0;
}

.nav-tabs .nav-link.active {
    color: #00a8db !important;
}

.navbar li a {
    color: white !important;
}

.navbar li {
    padding: 0 30px 0 30px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #00a8db !important;
    background-color: white !important;
}

.navbar .navbar-toggler {
    border-style: none;
}

.navbar .navbar-toggler .fas {
    color: white;
    font-size: 24px;
}


/* 
####################
#    FORMULAIRE    #
####################
*/
form {
    width: 20%;
    margin: auto;
    padding-top: 200px;
    padding-bottom: 100px;
}

form input {
    margin-bottom: 30px;
}

form .btn_envoyer {
    margin-top: 20px;
    text-align: center;
}

/* 
####################
#    FOOTER    #
####################
*/
footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin: auto;
}
