/* GENERAL */
* {
    font-family: Comfortaa ,Arial, Helvetica, sans-serif;
}

img {
    max-width: 200px;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.blue_divider {
    width: 100px;
    height: 3px;
    background: #00a8db;
    margin: auto;
    margin-bottom: 30px;
}

.white_divider {
    width: 100px;
    height: 3px;
    background: #fff;
    margin: auto;
    margin-bottom: 30px;
}

section {
    padding: 45px 0 80px 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* BODY */
/* NAVBAR */
.navbar {
    background-color: #999;
    font-size: 20px;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid #fff;
}

.navbar .nav-link {
    text-align: center;
    margin: 0;
}

.nav-tabs .nav-link.active {
    color: #00a8db !important;
}

.navbar li a {
    color: white !important;
}

.navbar li {
    padding: 0 30px 0 30px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #00a8db !important;
    background-color: white !important;
}

.navbar .navbar-toggler {
    border-style: none;
}

.navbar .navbar-toggler .fas {
    color: white;
    font-size: 24px;
}


/* ABOUT ME */
#container_about_me {
    padding-top: 100px;
    padding-bottom: 40px;
    background: #00a8db;
}

.profil_picture {
    text-align: center;
    margin: 0 auto;
}

#text_about_me {
    margin-top: 30px;
    text-align: center;
}

#text_about_me h1 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 25px;
}

#text_about_me h2 {
    color: #000;
    margin-bottom: 25px;
}
#text_about_me h3 {
    color: #000;
}

.button1 {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border: 3px solid white;
    margin-top: 20px;
    padding: 18px 40px;
    border-radius: 7px;
    display: inline-block;
    transition: all 0.15s ease-in 0s;
}

.button1:hover {
    background: #fff;
    color: #00a8db;
    text-decoration: none;
}

/* SKILLS */
#skills {
    background: #fff;
}

#skills #text_skills h2 {
    text-align: center;
    color: #00a8db;
    margin-bottom: 30px;
    text-transform: uppercase;
}

#skills .progress {
    height: 30px;
    margin: 30px 30px 0 0;
}

#skills .progress-bar {
    background: #00a8db;
}

#skills .progress h5 {
    text-shadow: 1px 1px 1px black;
    margin: 0;
}

/* EXPERIENCES */
#experiences {
    background: #00a8db;
}

#experiences #text_experiences h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.timeline {
    padding: 30px 10px;
    position: relative;
    margin-top: 70px;
}
/* LIGNE DE SEPARATION */
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 5px;
    background: #333;
    left: 50%;
    margin-left: -2.5px;
}

.timeline li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li::after {
    clear: both; /* nettoie les float */
}

.timeline > li:before, .timeline > li:after {
    content: " ";
    display: table;
}

.timeline li .timeline_icon {
    color: #00a8db;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background: #fff;
    border-radius: 50%;
}

.timeline_panel_container {
    width: 50%;
    float: left;
}

.timeline_panel_container_inverted {
    width: 50%;
    float: right;
}

.timeline_panel {
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    background: #fff;
}

.timeline_panel_container_inverted .timeline_panel {
    float: left;
    margin-left: 40px;
}

.timeline_panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline_panel_container_inverted .timeline_panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}


.timeline_text h3 {
    margin-top: 5px;
    font-size: 20px;
}

.timeline_text h4 {
    color: #00a8db;
    font-size: 22px;
    text-transform: uppercase;
}

.duration {
    font-size: 15px;
}

#experiences img {
    width: 20px;
}

.timeline_body p {
    font-size: 18px;
}

/* DIPLOMES */
#diplomes {
    background: #fff;
}

#diplomes h2 {
    text-align: center;
    color: #00a8db;
    margin-bottom: 30px;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.diplome_block {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 30px;
    background: #ddd;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
    height: 95%;
}

.diplome_block h5 {
    color: #888;
    font-size: 15px;
    margin-bottom: 15px;
}

.diplome_block img {
    width: 35px;
    margin-bottom: 20px;
}

.diplome_block h3 {
    font-size: 23px;
}

.diplome_block h4 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #00a8db;
}

.diplome_block a:hover {
    color: #fff;
}

.diplome_block a {
    color: #00a8db;
    text-decoration: none;
}

/* PORTFOLIO */
#portfolio {
    background: #00a8db;
}

#portfolio h2 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

/* BACK TO TOP */
#backTop {
    padding: 20px 0 40px 0;
}

#backTop img {
    width: 35px;
    margin: 20px;
    height: 35px;
}

#backTop img:hover {
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
}

/* 
################
#    FOOTER    #
################
*/
footer a {
    color: #000;
}
