body, html {
    height: 100%;
    font-family: Comfortaa, Arial, sans-serif
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #00b3d3;
}

h1 {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin: 100px 0 50px 0;
}

h2, h3, h4, h5 {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: 50px 0 30px 0;
}

.btn {
    width: 100%;
}

label {
    font-weight: bold;
}

.btn_ajouter {
    width: 100%;
    margin-bottom: 30px;
}


/* 
##############
#    BODY    #
##############
*/

/*
################
#    HEADER    #
################ 
*/
/* NAVBAR */
.navbar {
    background-color: #999;
    font-size: 20px;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid #fff;
}

.navbar .nav-link {
    text-align: center;
    margin: 0;
}

.nav-tabs .nav-link.active {
    color: #00b3d3 !important;
}

.navbar li a {
    color: white !important;
}

.navbar li {
    padding: 0 30px 0 30px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #00b3d3 !important;
    background-color: white !important;
}

.navbar .navbar-toggler {
    border-style: none;
}

.navbar .navbar-toggler .fas {
    color: white;
    font-size: 24px;
}


/* 
###############
#    INDEX    #
###############

#############################
#    FORMULAIRE CONNEXION   #
#############################
*/
#form_connexion form {
    margin: auto;
    width: 40%;
    padding-top: 75px;
    padding-bottom: 100px;
}

#form_connexion form label {
    font-weight: bold;
}

#form_connexion form input {
    margin-bottom: 30px;
    width: 100%;
}

#form_connexion form #connexion {
    margin: auto;
    display: block;
    width: 85%;
}


/* 
####################
#    MESSAGERIE    #
####################
*/
#no_message {
    text-align: center;
    margin: 250px 0;
    font-size: 25px;
    font-weight: bold;
    color: red;
}

/* 
#################
#    ACCUEIL    #
#################
*/
#form_accueil form {
    margin: auto;
    width: 40%;
    padding-top: 50px;
    padding-bottom: 100px;
}

#form_accueil input {
    width: 100%;
    margin-bottom: 10px;
}


/* 
############
#    CV    #
############
*/
#form_header form {
    margin: 0 auto 40px auto;
    width: 50%;
}

#form_header input {
    width: 100%;
    margin-bottom: 10px;
}


/* 
#####################
#    COMPETENCES    #
#####################
*/
#form_competences form {
    border-right: 1px solid rgb(212, 212, 212);
    padding-right: 20px;
}

#form_competences input{
    width: 100%;
    margin-bottom: 10px;
}

.btn_ajouter {
    width: 100%;
    margin-bottom: 30px;
}

.form_add_skill form {
    width: 30%;
    margin: auto;
}
.form_add_skill input {
    width: 100%;
    margin-bottom: 10px;
}

/* 
#########################
#    EXPERIENCES PRO    #
#########################
*/
#form_experiences input, .form_add_experience input{
    width: 100%;
    margin-bottom: 10px;
}

#form_experiences form {
    border-right: 1px solid rgb(212, 212, 212);
    padding-right: 20px;
}

.form_add_experience form {
    width: 30%;
    margin: auto;
}

/* 
##################
#    DIPLOMES    #
##################
*/
#form_diplomes input, .form_add_diplome input{
    width: 100%;
    margin-bottom: 10px;
}

#form_diplomes form {
    border-right: 1px solid rgb(212, 212, 212);
    padding-right: 20px;
}

.form_add_diplome form {
    width: 30%;
    margin: auto;
}


/* 
###################
#    PORTFOLIO    #
###################
*/
#form_portfolio input{
    width: 100%;
    margin-bottom: 10px;
}

#form_portfolio form {
    border-right: 1px solid rgb(212, 212, 212);
    padding-right: 20px;
}


/* 
################
#    FOOTER    #
################
*/
footer {
    color: #000;
}
