/* GENERAL */
* {
    font-family: Comfortaa ,Arial, Helvetica, sans-serif;
}

img {
    max-width: 350px;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.red-divider {
    width: 100px;
    height: 3px;
    background: #00a8db;
    margin: auto;
    margin-bottom: 30px;
}

.white-divider {
    width: 100px;
    height: 3px;
    background: #fff;
    margin: auto;
    margin-bottom: 30px;
}

section {
    padding: 45px 0 80px 0;
}


/* BODY */

/* ABOUT ME */
#container_about_me {
    padding-top: 100px;
    padding-bottom: 40px;
    background: #00a8db;
}

.profil_picture {
    text-align: center;
    margin: 0 auto;
}

#text_about_me {
    margin-top: 30px;
    text-align: center;
}

#text_about_me h1 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 25px;
}

#text_about_me h2 {
    color: #000;
    margin-bottom: 25px;
}
#text_about_me h3 {
    color: #000;
}

.button1 {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border: 3px solid white;
    margin-top: 20px;
    padding: 18px 40px;
    border-radius: 7px;
    display: inline-block;
    transition: all 0.15s ease-in 0s;
}

.button1:hover {
    background: #fff;
    color: #00a8db;
    text-decoration: none;
}

/* SKILLS */
#skills {
    background: #fff;
}

#skills #text_skills h2 {
    text-align: center;
    color: #00a8db;
    margin-bottom: 30px;
    text-transform: uppercase;
}

#skills .progress {
    height: 30px;
    margin: 30px 30px 0 0;
}

#skills .progress-bar {
    background: #00a8db;
}

#skills .progress h5 {
    text-shadow: 1px 1px 1px black;
    margin: 0;
}

/* EXPERIENCES */
#experiences {
    background: #00a8db;
}

#experiences #text_experiences h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.timeline {
    padding: 30px 10px;
    position: relative;
}

.timeline:before {
    
}
/* HEADER */